<div class="dialog">
  {{#if selectedChat}}
    {{{DialogHeader
      avatar=this.avatar
      chatName=this.chatName
      changePage=this.changePage
    }}}
    <div class="dialog__messages-container">
      {{#each this.messages}}
        {{{MessageItem
          showDate=this.showDate
          isCurrentUser=this.isMine
          text=this.content
          time=this.time
        }}}
      {{/each}}
      {{{InputBar selectedChat=selectedChat}}}
    </div>
  {{else}}
    <div>Выберите чат</div>
  {{/if}}
</div>
