:root {
  --color-text-main: #1e1e1e;
  --color-text-secondary: #9B9B9B;
  --color-placeholder: #999999;
  --color-button-primary: #3369f3;
  --color-button-disabled: #A3ABC1;
  --color-message-main: #e4edfd;
  --color-message-secondary: #f8f8f8;
  --color-white: #fff;
  --color-danger: #f00;
  --color-chatlist-background: #fbfbfb;
  --color-hover-background: #f5f5f5;
  --color-element-hover: rgba(82, 82, 82, 0.5);
  --color-border: #dbdbdb;
  --color-border-active: #3369f3;

  --box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);

  --bg-gradient: linear-gradient(49deg, #cde1e152 28%, #8ba3c7ad)
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--color-text-main);
  box-sizing: border-box;
}