:root {
  --color-text-main: #1E1E1E;
  --color-text-primary: #3369F3;
  --color-text-secondary: #9B9B9B;
  --color-button-primary: #3369f3;
  --color-button-disabled: #A3ABC1;
  --color-message-primary: #E4EDFD;
  --color-message-secondary: #EEF1F4;
  --color-white: #FFFFFF;
  --color-red: #FF0000;
  --color-element: rgba(82, 82, 82, 0.5);
  --color-border: #EAEAEA;
  --color-border-active: #3369f3;
  
  --color-chats-bg: #fbfbfb;
  --color-chat-bg-unread: #f5f6f7;
  --color-chat-bg-hoover: #e6eefc;
  --color-chat-count: #3369F3;

  --box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);

  --bg-gradient: linear-gradient(49deg, #cde1e152 28%, #8ba3c7ad)
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--color-text-main);
  box-sizing: border-box;
}