.dynamic-input {
  position: relative;
  width: 280px;

  &__data {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--color-border);
    font-size: 16px;

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-border-active);
    }
  }

  &__placeholder {
    line-height: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    color: var(--color-text-secondary);
    font-weight: 300;
    font-size: 13px;

    &_active {
      top: 3px;
      font-size: 9px;
      font-weight: 200;
      line-height: 9px;
    }
  }
}

.line-input {
  position: relative;
  width: 100%;

  &__data {
    width: 100%;
    padding: 10px 0 10px 40px;
    border: none;
    border-bottom: 1px solid var(--color-border);
    font-size: 16px;
    text-align: right;
    font-weight: 200;
    color: var(--color-text-secondary);

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-border-active);
    }
  }

  &__placeholder {
    line-height: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 13px;
  }
}
