<div class="chat-list">
  {{#each chats}}
    {{{ChatItem
      chatId=id
      chatName=chatUserName
      chatLastMessage=chatLastMessage
      lastMessageDate=lastMessageDate
      newMessages=newMessages
    }}}
  {{/each}}
</div>
