<div class="chat-list">
  {{#each chats}}
    {{{ChatItem
      chatId=id
      chatName=title
      chatLastMessage=last_message
      lastMessageDate=lastMessageDate
      newMessages=unread_count
    }}}
  {{/each}}
</div>
