.button {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  border: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &_primary {
    background-color: var(--color-text-primary);
    border-radius: 8px;
    width: 280px;
    height: 37px;
    color: var(--color-white);
    text-align: center;
    font-size: 13px;
    line-height: 13px;
  }

  &_link {
    color: var(--color-text-secondary);
    background-color: inherit;
  }

  &_text {
    color: var(--color-text-primary);
    background-color: inherit;
  }

  &_profile {
    font-size: 13px;
    line-height: 13px;
  }

  &_danger {
    color: var(--color-red);
    background-color: inherit;
  }

  &_border {
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    text-align: start;
    padding: 10px 0;
  }
}
