<main class="signup-page">
  <form class="signup-page__form">
     <h1 class="form__title">Регистрация</h1>
    <div class="form__inputs-container">
      {{> Input name="email" label="Почта" type="email"}}
      {{> Input name="login" label="Логин" type="text"}}
      {{> Input name="first_name" label="Имя" type="text"}}
      {{> Input name="second_name" label="Фамилия" type="text"}}
      {{> Input name="phone" label="Телефон" type="tel"}}
      {{> Input name="password" label="Пароль" type="password"}}
      {{> Input name="confirmPassword" label="Пароль (еще раз)" type="password"}}
    </div>
    <div class="form__buttons-container">
      {{> Button buttonText="Зарегистрироваться" buttonClass="button_primary"}}
      {{> Button buttonText="Войти" buttonClass="button_text"}}
    </div>
  </form>
</main>
