<main class="signup-page">
  <form class="signup-page__form">
     <h1 class="form__title">Регистрация</h1>
    <div class="form__inputs-container">
      {{> Input inputName="email" inputLabel="Почта" inputType="email" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
      {{> Input inputName="login" inputLabel="Логин" inputType="text" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
      {{> Input inputName="first_name" inputLabel="Имя" inputType="text" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
      {{> Input inputName="second_name" inputLabel="Фамилия" inputType="text" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
      {{> Input inputName="phone" inputLabel="Телефон" inputType="tel" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
      {{> Input inputName="password" inputLabel="Пароль" inputType="password" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
      {{> Input inputName="confirmPassword" inputLabel="Пароль (еще раз)" inputType="password" inputMainClass="dynamic-input" inputClass='dynamic-input__data' labelClass='dynamic-input__placeholder'}}
    </div>
    <div class="form__buttons-container">
      {{> Button buttonText="Зарегистрироваться" buttonClass="button_primary"}}
        {{> Button buttonText="Войти" buttonClass="button_text"}}
    </div>
  </form>
</main>
