.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-gradient);

  &__form {
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
    background-color: var(--color-white);
  }
}

.form {
  &__title {
    font-size: 25px;
    font-weight: 200;
    line-height: 20px;
    color: var(--color-text-secondary);
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__buttons-container {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }
}

.input {
  position: relative;
  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s, font-size 0.3s;
  }
}

#login {
  padding: 10px;
  font-size: 16px;
}
