
  <div class="dialog__header">
    <div class="header__title-container">
      <img class="container__avatar" src={{avatar}} alt="img">
      <p class="container__title">{{chatName}}</p>
    </div>
    {{{Button buttonType='button' buttonImage=this.ellipseIcon buttonClass="header__ellipse" imageAlt="settings" onClick=this.onSettingsClick}}}
  </div>